PORT=5000
MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_URI=
NODE_ENV=
JWT_SECRET=
JWT_EXPIRES_IN=


# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_URL=
DISABLE_BULLMQ_WORKER=false